body{
	background: black;
	font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 10px;
	background: #404040;
}

td img { 
  vertical-align: top;
  background: white;
  padding: 2px;
  border-radius: 2px;
}

#pricetable{
	margin: 0 auto;
}

.red{
	color: #FF3333;
}

.green{
	color: #33FF41;
}