#wrapper{
  display: flex;
  justify-content: center;
}

#mainTable{
  align-self: center;
}

#searchArea{
  overflow: scroll;
  width: 100%;
  height: 600%;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

i,.addPairButton{
  cursor: pointer;
}
